.app {
    margin: 20px;
    font-family: 'Open Sans';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 1fr;
}

    .app .form {
        background-color: white;
        height: fit-content;
        padding: 20px;
    }

    .app .result {
        background-color: rgb(232, 233, 235);
        min-height: 100vh;
        padding: 30px;
        border-radius: 30px;
    }