.app {
    margin: 20px;
    font-family: 'Open Sans';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 1fr;
    background-color: rgb(241, 242, 243);
    min-height: 100vh;
}

    .app .form {
        margin: 20px;
        height: fit-content;
        padding: 20px;
    }

    .app .result {
        margin: 20px;
        background-color: rgb(232, 233, 235);
        padding: 30px;
        border-radius: 30px;
    }