input[type=radio] {
    margin: 0 5px;
    width: fit-content;
}

input[type=checkbox] {
    margin: 0 5px;
    width: fit-content;
}

.form-section {
    height: fit-content;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}